/// ============================================================================
/// @group components/alerts-container
/// ============================================================================

.c-alerts-container {
    bottom: -80px;
    display: flex;
    flex-flow: column wrap;
    gap: var(--spacing-3);
    left: 0;
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
    position: absolute;
    width: 100%;
    z-index: 1;
}