.c-skelton {
    animation: skeleton 0.8s linear infinite alternate;
    background-color: var(--color-grey-light);
    display: block;
    padding: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    margin-top: var(--spacing-3);
    width: 100%;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
    }

    @keyframes skeleton {
        0% {
            opacity: 0.45;
        }

        100% {
            opacity: 0.99;
        }
    }
}