/// ============================================================================
/// @group components/alert
/// ============================================================================

.c-alert {
    align-items: center;
    background-color: var(--color-green);
    border-radius: var(--border-radius);
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    font-weight: 500;
    opacity: 0;
    padding: var(--spacing-2);
    padding-right: 5rem; // custom spacing
    position: relative;
    transform: translateY(50%);
    transition: opacity 200ms ease-in, transform 100ms ease-in-out;
    width: 100%;

    &.is-active {
        opacity: 1;
        transform: translate(0);
        transition: opacity 200ms ease-in, transform 100ms ease-in-out;
    }
}

.c-alert--error {
    background-color: var(--color-red);
}

.c-alert__icon {
    font-size: 0;
    padding-right: var(--spacing-3);
}

.c-alert__close {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    padding: 0.5rem;
    position: absolute;
    right: calc(var(--spacing-2) - 0.5rem);
    top: 50%;
    transform: translateY(-50%);

    svg {
        fill: var(--color-white)
    }
}