.c-app-header {
    margin-bottom: var(--spacing-2);
}

.c-app-header__link {
    color: var(--color-grey-dark);
    text-decoration: none;
    transition: color 200ms ease-in-out;

    &:hover,
    &:focus {
        color: var(--color-blue);
    }

    &:focus {
        outline: 2px solid var(--color-orange);
    }
}