<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>Washup</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#0052CC">
        <link rel="icon" href="/assets/favicon.ico">
        <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
        <link rel="manifest" href="/manifest.json">
		<% preact.headEnd %>
	</head>
	<body>
        <div id="app"></div>

		<% preact.bodyEnd %>
	</body>
</html>
